@font-face {
  font-family: 'jhipster-icons';
  src: url('../font/jhipster-icons.eot?56647355');
  src: url('../font/jhipster-icons.eot?56647355#iefix') format('embedded-opentype'),
       url('../font/jhipster-icons.woff2?56647355') format('woff2'),
       url('../font/jhipster-icons.woff?56647355') format('woff'),
       url('../font/jhipster-icons.ttf?56647355') format('truetype'),
       url('../font/jhipster-icons.svg?56647355#jhipster-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'jhipster-icons';
    src: url('../font/jhipster-icons.svg?56647355#jhipster-icons') format('svg');
  }
}
*/
[class^="jhipster-icon-"]:before, [class*=" jhipster-icon-"]:before {
  font-family: "jhipster-icons";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.jhipster-icon-book:before { content: '\e800'; } /* '' */
.jhipster-icon-puzzle:before { content: '\f12e'; } /* '' */
.jhipster-icon-binoculars:before { content: '\f1e5'; } /* '' */
.jhipster-icon-map:before { content: '\f279'; } /* '' */
