
.jhipster-icon-book:before { content: '\e800'; } /* '' */
.jhipster-icon-puzzle:before { content: '\f12e'; } /* '' */
.jhipster-icon-binoculars:before { content: '\f1e5'; } /* '' */
.jhipster-icon-map:before { content: '\f279'; } /* '' */
